# Web框架和相關擴展
Flask == 3.1.0
Flask-SQLAlchemy == 3.1.1
Flask-Migrate == 4.1.0
Flask-CORS == 5.0.1
Flask-Caching == 2.3.1
Django == 5.1.7 
fastapi == 0.115.12
gunicorn >= 22.0.0

# 資料庫驅動
pymysql == 1.1.1
SQLAlchemy == 2.0.36
psycopg2 == 2.9.10
asyncpg == 0.30.0

# 環境變量
python-dotenv >= 1.0.0

# HTTP 客戶端
requests == 2.31.0
httpx == 0.28.1

# 異步支持
asgiref >= 3.7.0
hypercorn >= 0.14.4
aiohttp >= 3.8.6

# LINE Bot
line-bot-sdk >= 3.9.0

# 定時任務
apscheduler == 3.11.0 