{
    "openapi": "3.0.1",
    "info": {
      "title": "公共運輸-航空",
      "description": "本平臺提供涵蓋全國尺度之交通旅運資料服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n<br>計費方式：\n<br>計次：1,500次/1點\n<br>計量：150MB/1點\n---\n##### API使用說明與注意事項：\n1. 如您尚未註冊平臺會員帳號，或未以帳號登入，您將僅能以「訪客模式」使用平臺服務，包含：限以瀏覽器存取，限使用`【基礎服務】`，且限制每個呼叫來源端IP每日存取至多20次。。\n2. 如您已註冊平臺會員帳號，請務必確保在存取服務(包含瀏覽器、程式呼叫API)時帶入您的API金鑰，方能以「會員模式」使用完整平臺服務，包含平臺各類資料服務，如`【基礎服務】`、`【進階服務】`、`【加值服務】`、`【歷史服務】`、`【圖資服務】`、`【第三方服務】`等。\n3. 建議您立即[註冊平臺會員帳號](/register)，依您用量需求訂閱服務方案，並於[【會員中心->資料服務->API金鑰】](/user/dataservice/key)取得API金鑰(即Client Id和Client Secret資訊)。\n4. 會員訂閱服務方案之級別不同，將決定其API金鑰之存取頻率有不同限制，各個方案的存取頻率限制說明請參考[訂閱收費](/pricing)。\n5. 以瀏覽器帶入API金鑰之操作方式：請點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 以程式呼叫API帶入API金鑰之操作方式：請參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 不論您是以瀏覽器或是以程式呼叫API，所有服務存取行為均將被記錄並定期檢視，以確保系統資源使用的合理分配與避免遭受濫用。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/webapi/File/Swagger/V3/eb87998f-2f9c-4592-8d75-c62e5b724962)",
      "version": "v2"
    },
    "servers": [
      {
        "url": "https://tdx.transportdata.tw/api/basic"
      }
    ],
    "paths": {
      "/v2/Air/Airport": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得機場資料",
          "description": "取得所有機場資料",
          "operationId": "AirApi_Airport_2010",
          "parameters": [
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/Airport/{IATA}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得指定[機場]資料",
          "description": "取得指定[機場]資料",
          "operationId": "AirApi_Airport_2010_1",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "機場代碼",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport"
                  }
                }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/Airline/{IATA}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得指定[航空公司]資料",
          "description": "取得指定[航空公司]資料",
          "operationId": "AirApi_Airline_2011",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "航空公司代碼",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airline"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airline"
                  }
                }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/Airline": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得航空公司資料",
          "description": "取得所有航空公司資料",
          "operationId": "AirApi_Airline_2011_1",
          "parameters": [
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airline"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airline"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/FIDS/Airport/Departure": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得機場的即時出境航班",
          "description": "取得機場的即時出境航班",
          "operationId": "AirApi_Departure_2012",
          "parameters": [
            {
              "name": "IsCargo",
              "in": "query",
              "description": "是否為貨機",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSDeparture"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSDeparture"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/FIDS/Airport/Departure/{IATA}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得指定[機場的即時出境航班]",
          "description": "取得指定的[機場即時出境航班]",
          "operationId": "AirApi_Departure_2012_1",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "機場代碼",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "IsCargo",
              "in": "query",
              "description": "是否為貨機",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSDeparture"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSDeparture"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/FIDS/Airport/Arrival": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得機場的即時入境航班",
          "description": "取得機場的即時入境航班",
          "operationId": "AirApi_Arrival_2013",
          "parameters": [
            {
              "name": "IsCargo",
              "in": "query",
              "description": "是否為貨機",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSArrival"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSArrival"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/FIDS/Airport/Arrival/{IATA}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得指定[機場的即時入境航班]",
          "description": "取得[指定機場]的即時入境航班",
          "operationId": "AirApi_Arrival_2013_1",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "機場代碼",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "IsCargo",
              "in": "query",
              "description": "是否為貨機",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSArrival"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSArrival"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/FIDS/Flight": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得即時航班資料",
          "description": "取得即時航班資料",
          "operationId": "AirApi_Flight_2014",
          "parameters": [
            {
              "name": "IsCargo",
              "in": "query",
              "description": "是否為貨機",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDS"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDS"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/FIDS/Flight/{FlightNo}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得指定[即時航班]資料",
          "operationId": "AirApi_Flight_2014_1",
          "parameters": [
            {
              "name": "FlightNo",
              "in": "path",
              "description": "航機班號",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "IsCargo",
              "in": "query",
              "description": "是否為貨機",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDS"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDS"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/FIDS/Airport": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得機場的即時航班資料",
          "description": "取得即時航班資料",
          "operationId": "AirApi_FIDS_2015",
          "parameters": [
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport_FIDS"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport_FIDS"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/FIDS/Airport/{IATA}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得指定[機場的即時航班]資料",
          "description": "取得指定[機場的即時航班]資料",
          "operationId": "AirApi_FIDS_2015_1",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "機場代碼",
              "required": true,
              "schema": {
                "pattern": "^((?!Arrival|Departure).)*$",
                "type": "string"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport_FIDS"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport_FIDS"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/METAR/Airport": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得[國內機場]氣象資訊觀測資料",
          "description": "### 目前提供之機場氣象觀測站IATA代碼清單\r\n- TSA:松山機場 KHH:高雄機場\r\n- TPE:桃園機場 MFK:北竿機場\r\n- LZN:南竿機場 KNH:金門機場\r\n- MZG:澎湖機場 RMQ:臺中機場\r\n- CYI:嘉義機場 TNN:臺南機場\r\n- HUN:花蓮機場 TTT:臺東機場\r\n- KYD:蘭嶼機場 GNI:綠島機場",
          "operationId": "AirApi_METAR_2016",
          "parameters": [
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.METAR"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.METAR"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/METAR/Airport/{IATA}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得指定[國內機場]氣象資訊觀測資料",
          "description": "取得指定[國內機場]氣象資訊觀測資料",
          "operationId": "AirApi_METAR_2016_1",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "機場代碼",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.METAR"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.METAR"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/GeneralSchedule/Domestic": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得國內航空定期時刻表",
          "operationId": "AirApi_Domestic_2017",
          "parameters": [
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.GeneralFlightSchedule"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.GeneralFlightSchedule"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/GeneralSchedule/International": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得國際航空定期時刻表",
          "operationId": "AirApi_International_2018",
          "parameters": [
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.GeneralFlightSchedule"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.GeneralFlightSchedule"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/DailyFlightSchedule/Domestic/{IATA}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得國內指定 [航空公司] 每日飛行班表資料",
          "description": "立榮航空(B7)提供近15天每日飛行班表，德安航空(DA)提供近60天每日飛行班表，華信航空(AE)月初可查詢當月每日飛行班表，月底可查詢次月每日飛行班表",
          "operationId": "AirApi_Domestic_DailySchedule_2020",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "航空公司代碼",
              "required": true,
              "schema": {
                "enum": [
                  "AE",
                  "B7",
                  "DA"
                ],
                "type": "string"
              },
              "x-enum": {
                "AE": "華信航空",
                "DA": "德安航空",
                "B7": "立榮航空"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.DailyFlightSchedule"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.DailyFlightSchedule"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/RouteFare/Domestic/{IATA}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得國內指定 [航空公司] 航線票價資料",
          "description": "提供各航空公司官網公告之法定票價資料",
          "operationId": "AirApi_Domestic_RouteFare_2021",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "航空公司代碼",
              "required": true,
              "schema": {
                "enum": [
                  "AE",
                  "B7",
                  "DA"
                ],
                "type": "string"
              },
              "x-enum": {
                "AE": "華信航空",
                "B7": "立榮航空",
                "DA": "德安航空"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.RouteFare"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.RouteFare"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/Air/SeatAvailability/Domestic/{IATA}/AirRoute/{AirRoute}/FlightDate/{FlightDate}/FlightNumber/{FlightNumber}": {
        "get": {
          "tags": [
            "Air"
          ],
          "summary": "取得國內指定 [航空公司] 指定 [航線代碼][航班日期][班機號碼] 即時剩餘位資料",
          "description": "1. 可透過每日飛行班表之航線/日期/航班編號參數，於航班即時剩餘位資料中查詢\r\n1. 航班即時剩餘位資料為確保資料即時性，採使用者呼叫再向航空公司呼叫的的機制，因此響應時間較慢\r\n1. 各航空公司將視呼叫情形調整rate limit，立榮航空即時航班剩餘位rate limit: 每個IP，每半小時100次，若超過100次則擋半小時，一天最多5,000次",
          "operationId": "AirApi_Domestic_SeatAvailability_2022",
          "parameters": [
            {
              "name": "IATA",
              "in": "path",
              "description": "航空公司代碼",
              "required": true,
              "schema": {
                "enum": [
                  "AE",
                  "B7",
                  "DA"
                ],
                "type": "string"
              },
              "x-enum": {
                "DA": "德安航空",
                "B7": "立榮航空",
                "AE": "華信航空"
              }
            },
            {
              "name": "AirRoute",
              "in": "path",
              "description": "航線代碼",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "FlightDate",
              "in": "path",
              "description": "航班日期，格式為 yyyy-MM-dd",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "FlightNumber",
              "in": "path",
              "description": "班機號碼",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$select",
              "in": "query",
              "description": "挑選",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$filter",
              "in": "query",
              "description": "過濾",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$orderby",
              "in": "query",
              "description": "排序",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "$top",
              "in": "query",
              "description": "取前幾筆",
              "schema": {
                "type": "integer",
                "default": 30
              }
            },
            {
              "name": "$skip",
              "in": "query",
              "description": "跳過前幾筆",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "health",
              "in": "query",
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "schema": {
                "enum": [
                  "true",
                  "false"
                ],
                "type": "string"
              }
            },
            {
              "name": "$format",
              "in": "query",
              "description": "指定來源格式",
              "required": true,
              "schema": {
                "enum": [
                  "JSON",
                  "XML"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.SeatAvailability"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "title": "Array",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.SeatAvailability"
                    }
                  }
                }
              }
            },
            "304": {
              "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
              "content": {
                "application/json": { },
                "application/xml": { }
              }
            },
            "299": {
              "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "PTX.Service.DTO.Air.Specification.V2.Airport": {
          "title": "Airport",
          "required": [
            "AirportID",
            "UpdateTime",
            "VersionID"
          ],
          "type": "object",
          "properties": {
            "AirportID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "機場IATA國際代碼",
              "xml": {
                "name": "AirportID"
              }
            },
            "AirportName": {
              "title": "NameType",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
                }
              ],
              "description": "機場中文名稱",
              "xml": {
                "name": "NameType"
              }
            },
            "AirportIATA": {
              "title": "String",
              "type": "string",
              "description": "機場IATA國際代碼",
              "xml": {
                "name": "AirportIATA"
              }
            },
            "AirportICAO": {
              "title": "String",
              "type": "string",
              "description": "機場ICAO國際代碼",
              "xml": {
                "name": "AirportICAO"
              }
            },
            "AirportPosition": {
              "title": "PointType",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.PointType"
                }
              ],
              "description": "機場位置",
              "xml": {
                "name": "PointType"
              }
            },
            "AirportCityName": {
              "title": "NameType",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
                }
              ],
              "description": "機場所屬城市",
              "xml": {
                "name": "NameType"
              }
            },
            "AirportAddress": {
              "title": "String",
              "type": "string",
              "description": "機場地址",
              "xml": {
                "name": "AirportAddress"
              }
            },
            "AirportPhone": {
              "title": "String",
              "type": "string",
              "description": "機場聯繫電話",
              "xml": {
                "name": "AirportPhone"
              }
            },
            "AirportNationality": {
              "title": "String",
              "type": "string",
              "description": "機場國籍",
              "xml": {
                "name": "AirportNationality"
              }
            },
            "AuthorityID": {
              "title": "String",
              "type": "string",
              "description": "業管機關代碼(流水號)",
              "xml": {
                "name": "AuthorityID"
              }
            },
            "UpdateTime": {
              "title": "DateTime",
              "type": "string",
              "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
              "format": "date-time"
            },
            "VersionID": {
              "title": "Int32",
              "type": "integer",
              "description": "資料版本編號",
              "format": "int32"
            }
          },
          "description": "機場資料",
          "xml": {
            "name": "Airport"
          }
        },
        "PTX.Service.DTO.Air.Specification.V2.Airport0": {
          "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.Airport"
        },
        "PTX.Service.DTO.Shared.Specification.V2.Base.NameType": {
          "title": "NameType",
          "type": "object",
          "properties": {
            "Zh_tw": {
              "title": "String",
              "type": "string",
              "description": "中文繁體名稱",
              "xml": {
                "name": "Zh_tw"
              }
            },
            "En": {
              "title": "String",
              "type": "string",
              "description": "英文名稱",
              "xml": {
                "name": "En"
              }
            }
          },
          "description": "名稱資料型別",
          "xml": {
            "name": "NameType"
          }
        },
        "PTX.Service.DTO.Shared.Specification.V2.Base.PointType": {
          "title": "PointType",
          "type": "object",
          "properties": {
            "PositionLon": {
              "type": "number",
              "description": "位置經度(WGS84)",
              "format": "double"
            },
            "PositionLat": {
              "type": "number",
              "description": "位置緯度(WGS84)",
              "format": "double"
            },
            "GeoHash": {
              "title": "String",
              "type": "string",
              "description": "地理空間編碼",
              "xml": {
                "name": "GeoHash"
              }
            }
          },
          "description": "座標資料型別",
          "xml": {
            "name": "PointType"
          }
        },
        "PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth": {
          "title": "DisplayHealth",
          "required": [
            "ServiceID",
            "ServiceName"
          ],
          "type": "object",
          "properties": {
            "ServiceID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "API服務代碼",
              "xml": {
                "name": "ServiceID"
              }
            },
            "ServiceName": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "API服務中文名稱",
              "xml": {
                "name": "ServiceName"
              }
            },
            "Inbound": {
              "title": "Inbound",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.Inbound"
                }
              ],
              "description": "本平台資料來源轉入狀態",
              "xml": {
                "name": "Inbound"
              }
            },
            "Outbound": {
              "title": "Outbound",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.Outbound"
                }
              ],
              "description": "本平台API狀態",
              "xml": {
                "name": "Outbound"
              }
            }
          },
          "description": "API服務健康狀態",
          "xml": {
            "name": "DisplayHealth"
          }
        },
        "PTX.Service.DTO.Shared.Specification.V3.Base.Inbound": {
          "title": "Inbound",
          "required": [
            "CheckTime",
            "Status"
          ],
          "type": "object",
          "properties": {
            "CheckTime": {
              "title": "DateTime",
              "type": "string",
              "description": "檢核時間",
              "format": "date-time"
            },
            "Status": {
              "title": "Int32",
              "type": "integer",
              "description": "檢核結果狀態 : [0:'失敗',1:'成功',2:'資料清洗中']"
            },
            "Reason": {
              "title": "String",
              "type": "string",
              "description": "檢核失敗原因",
              "xml": {
                "name": "Reason"
              }
            }
          },
          "description": "本平台資料來源轉入狀態",
          "xml": {
            "name": "Inbound"
          }
        },
        "PTX.Service.DTO.Shared.Specification.V3.Base.Outbound": {
          "title": "Outbound",
          "required": [
            "CheckTime",
            "Status"
          ],
          "type": "object",
          "properties": {
            "CheckTime": {
              "title": "DateTime",
              "type": "string",
              "description": "檢核時間",
              "format": "date-time"
            },
            "Status": {
              "title": "Int32",
              "type": "integer",
              "description": "檢核結果狀態 : [0:'失敗',1:'成功',2:'資料清洗中']"
            },
            "Reason": {
              "title": "String",
              "type": "string",
              "description": "檢核失敗原因",
              "xml": {
                "name": "Reason"
              }
            }
          },
          "description": "本平台API狀態",
          "xml": {
            "name": "Outbound"
          }
        },
        "PTX.Service.DTO.Air.Specification.V2.Airline": {
          "title": "Airline",
          "required": [
            "AirlineID",
            "UpdateTime",
            "VersionID"
          ],
          "type": "object",
          "properties": {
            "AirlineID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "航空公司IATA國際代碼",
              "xml": {
                "name": "AirlineID"
              }
            },
            "AirlineName": {
              "title": "NameType",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
                }
              ],
              "description": "航空公司名稱",
              "xml": {
                "name": "NameType"
              }
            },
            "AirlineNameAlias": {
              "title": "NameType",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
                }
              ],
              "description": "航空公司簡稱",
              "xml": {
                "name": "NameType"
              }
            },
            "AirlineIATA": {
              "title": "String",
              "type": "string",
              "description": "航空公司IATA國際代碼",
              "xml": {
                "name": "AirlineIATA"
              }
            },
            "AirlineICAO": {
              "title": "String",
              "type": "string",
              "description": "航空公司ICAO國際代碼",
              "xml": {
                "name": "AirlineICAO"
              }
            },
            "AirlineEmail": {
              "title": "String",
              "type": "string",
              "description": "航空公司電子信箱",
              "xml": {
                "name": "AirlineEmail"
              }
            },
            "AirlineAddress": {
              "title": "String",
              "type": "string",
              "description": "航空公司地址",
              "xml": {
                "name": "AirlineAddress"
              }
            },
            "AirlinePhone": {
              "title": "String",
              "type": "string",
              "description": "航空公司聯繫電話",
              "xml": {
                "name": "AirlinePhone"
              }
            },
            "AirlineNationality": {
              "title": "String",
              "type": "string",
              "description": "航空公司國籍",
              "xml": {
                "name": "AirlineNationality"
              }
            },
            "UpdateTime": {
              "title": "DateTime",
              "type": "string",
              "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
              "format": "date-time"
            },
            "VersionID": {
              "title": "Int32",
              "type": "integer",
              "description": "資料版本編號",
              "format": "int32"
            }
          },
          "description": "航空公司資料",
          "xml": {
            "name": "Airline"
          }
        },
        "PTX.Service.DTO.Air.Specification.V2.FIDSDeparture": {
          "title": "FIDSDeparture",
          "required": [
            "AirlineID",
            "ArrivalAirportID",
            "DepartureAirportID",
            "FlightDate",
            "FlightNumber",
            "UpdateTime"
          ],
          "type": "object",
          "properties": {
            "FlightDate": {
              "type": "string",
              "description": "航班日期(ISO8601格式:yyyy-MM-dd)",
              "format": "date-time"
            },
            "FlightNumber": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "航機班號(不包含航空公司的AirlineID，僅有班號數字)",
              "xml": {
                "name": "FlightNumber"
              }
            },
            "AirRouteType": {
              "title": "Int32",
              "type": "integer",
              "description": "航線種類(目前民航局與桃機的FIDS系統都尚未提供此欄位資料) : [-2:'特殊',1:'國際',2:'國內',3:'兩岸',4:'國際包機',5:'國內包機',6:'兩岸包機']"
            },
            "AirlineID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "航空公司IATA國際代碼",
              "xml": {
                "name": "AirlineID"
              }
            },
            "DepartureAirportID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "起點機場IATA國際代碼",
              "xml": {
                "name": "DepartureAirportID"
              }
            },
            "ArrivalAirportID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "目的地機場IATA國際代碼",
              "xml": {
                "name": "ArrivalAirportID"
              }
            },
            "ScheduleDepartureTime": {
              "type": "string",
              "description": "表訂出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "ActualDepartureTime": {
              "type": "string",
              "description": "實際出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "EstimatedDepartureTime": {
              "type": "string",
              "description": "預估出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "DepartureRemark": {
              "title": "String",
              "type": "string",
              "description": "航班屬性狀態, ,為該機場觀點的狀態",
              "xml": {
                "name": "DepartureRemark"
              }
            },
            "DepartureRemarkEn": {
              "title": "String",
              "type": "string",
              "description": "航班屬性狀態(英文)",
              "xml": {
                "name": "DepartureRemarkEn"
              }
            },
            "Terminal": {
              "title": "String",
              "type": "string",
              "description": "航廈",
              "xml": {
                "name": "Terminal"
              }
            },
            "Gate": {
              "title": "String",
              "type": "string",
              "description": "登機門(僅客機提供)",
              "xml": {
                "name": "Gate"
              }
            },
            "Apron": {
              "title": "String",
              "type": "string",
              "description": "停機坪(僅貨機提供)",
              "xml": {
                "name": "Apron"
              }
            },
            "CodeShare": {
              "title": "String",
              "type": "string",
              "description": "航班共用班號",
              "xml": {
                "name": "CodeShare"
              }
            },
            "IsCargo": {
              "title": "Boolean",
              "type": "boolean",
              "description": "是否為貨機"
            },
            "AcType": {
              "title": "String",
              "type": "string",
              "description": "航空器型號",
              "xml": {
                "name": "AcType"
              }
            },
            "BaggageClaim": {
              "title": "String",
              "type": "string",
              "description": "行李轉盤(到站FIDS可能有「行李轉盤」資訊, 離站FIDS不會有, 貨機則無此資訊)",
              "xml": {
                "name": "BaggageClaim"
              }
            },
            "CheckCounter": {
              "title": "String",
              "type": "string",
              "description": "報到櫃檯(離站FIDS可能有「報到櫃台」資訊, 到站FIDS不會有, 貨機則無此資訊)",
              "xml": {
                "name": "CheckCounter"
              }
            },
            "UpdateTime": {
              "title": "DateTime",
              "type": "string",
              "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
              "format": "date-time"
            }
          },
          "description": "出發航班顯示資料",
          "xml": {
            "name": "FIDSDeparture"
          }
        },
        "PTX.Service.DTO.Air.Specification.V2.FIDSDeparture1": {
          "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSDeparture"
        },
        "PTX.Service.DTO.Air.Specification.V2.FIDSArrival": {
          "title": "FIDSArrival",
          "required": [
            "AirlineID",
            "ArrivalAirportID",
            "DepartureAirportID",
            "FlightDate",
            "FlightNumber",
            "UpdateTime"
          ],
          "type": "object",
          "properties": {
            "FlightDate": {
              "type": "string",
              "description": "航班日期(ISO8601格式:yyyy-MM-dd)",
              "format": "date-time"
            },
            "FlightNumber": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "航機班號(不包含航空公司的AirlineID，僅有班號數字)",
              "xml": {
                "name": "FlightNumber"
              }
            },
            "AirRouteType": {
              "title": "Int32",
              "type": "integer",
              "description": "航線種類(目前民航局與桃機的FIDS系統都尚未提供此欄位資料) : [-2:'特殊',1:'國際',2:'國內',3:'兩岸',4:'國際包機',5:'國內包機',6:'兩岸包機']"
            },
            "AirlineID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "航空公司IATA國際代碼",
              "xml": {
                "name": "AirlineID"
              }
            },
            "DepartureAirportID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "起點機場IATA國際代碼",
              "xml": {
                "name": "DepartureAirportID"
              }
            },
            "ArrivalAirportID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "目的地機場IATA國際代碼",
              "xml": {
                "name": "ArrivalAirportID"
              }
            },
            "ScheduleArrivalTime": {
              "type": "string",
              "description": "表訂抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "ActualArrivalTime": {
              "type": "string",
              "description": "實際抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "EstimatedArrivalTime": {
              "type": "string",
              "description": "預估抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "ArrivalRemark": {
              "title": "String",
              "type": "string",
              "description": "航班屬性狀態,為該機場觀點的狀態",
              "xml": {
                "name": "ArrivalRemark"
              }
            },
            "ArrivalRemarkEn": {
              "title": "String",
              "type": "string",
              "description": "航班屬性狀態(英文)",
              "xml": {
                "name": "ArrivalRemarkEn"
              }
            },
            "Terminal": {
              "title": "String",
              "type": "string",
              "description": "航廈",
              "xml": {
                "name": "Terminal"
              }
            },
            "Gate": {
              "title": "String",
              "type": "string",
              "description": "登機門(僅客機提供)",
              "xml": {
                "name": "Gate"
              }
            },
            "Apron": {
              "title": "String",
              "type": "string",
              "description": "停機坪(僅貨機提供)",
              "xml": {
                "name": "Apron"
              }
            },
            "CodeShare": {
              "title": "String",
              "type": "string",
              "description": "航班共用班號",
              "xml": {
                "name": "CodeShare"
              }
            },
            "IsCargo": {
              "title": "Boolean",
              "type": "boolean",
              "description": "是否為貨機"
            },
            "AcType": {
              "title": "String",
              "type": "string",
              "description": "航空器型號",
              "xml": {
                "name": "AcType"
              }
            },
            "BaggageClaim": {
              "title": "String",
              "type": "string",
              "description": "行李轉盤(到站FIDS可能有「行李轉盤」資訊, 離站FIDS不會有, 貨機則無此資訊)",
              "xml": {
                "name": "BaggageClaim"
              }
            },
            "CheckCounter": {
              "title": "String",
              "type": "string",
              "description": "報到櫃檯(離站FIDS可能有「報到櫃台」資訊, 到站FIDS不會有, 貨機則無此資訊)",
              "xml": {
                "name": "CheckCounter"
              }
            },
            "UpdateTime": {
              "title": "DateTime",
              "type": "string",
              "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
              "format": "date-time"
            }
          },
          "description": "抵達航班顯示資料",
          "xml": {
            "name": "FIDSArrival"
          }
        },
        "PTX.Service.DTO.Air.Specification.V2.FIDSArrival2": {
          "$ref": "#/components/schemas/PTX.Service.DTO.Air.Specification.V2.FIDSArrival"
        },
        "PTX.Service.DTO.Air.Specification.V2.FIDS": {
          "title": "FIDS",
          "required": [
            "AirlineID",
            "ArrivalAirportID",
            "DepartureAirportID",
            "FlightDate",
            "FlightNumber",
            "UpdateTime"
          ],
          "type": "object",
          "properties": {
            "FlightDate": {
              "type": "string",
              "description": "航班日期(ISO8601格式:yyyy-MM-dd)",
              "format": "date-time"
            },
            "FlightNumber": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "航機班號(不包含航空公司的AirlineID，僅有班號數字)",
              "xml": {
                "name": "FlightNumber"
              }
            },
            "AirRouteType": {
              "title": "Int32",
              "type": "integer",
              "description": "航線種類 : [-2:'特殊',1:'國際',2:'國內',3:'兩岸',4:'國際包機',5:'國內包機',6:'兩岸包機']"
            },
            "AirlineID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "航空公司IATA國際代碼",
              "xml": {
                "name": "AirlineID"
              }
            },
            "DepartureAirportID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "起點機場IATA國際代碼",
              "xml": {
                "name": "DepartureAirportID"
              }
            },
            "ArrivalAirportID": {
              "title": "String",
              "minLength": 1,
              "type": "string",
              "description": "目的地機場IATA國際代碼",
              "xml": {
                "name": "ArrivalAirportID"
              }
            },
            "ScheduleDepartureTime": {
              "type": "string",
              "description": "表訂出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "ActualDepartureTime": {
              "type": "string",
              "description": "實際出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "EstimatedDepartureTime": {
              "type": "string",
              "description": "預估出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "ScheduleArrivalTime": {
              "type": "string",
              "description": "表訂抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "ActualArrivalTime": {
              "type": "string",
              "description": "實際抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "EstimatedArrivalTime": {
              "type": "string",
              "description": "預估抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
              "format": "date-time"
            },
            "DepartureRemark": {
              "title": "String",
              "type": "string",
              "description": "航班屬性狀態,為第三方觀點的狀態(資料來源:民航局)",
              "xml": {
                "name": "DepartureRemark"
              }
            },
            "DepartureRemarkEn": {
              "title": "String",
              "type": "string",
              "description": "航班屬性狀態(英文)",
              "xml": {
                "name": "DepartureRemarkEn"
              }
            },
            "ArrivalRemark": {
              "title": "String",
              "type": "string",
              "description": "航班屬性狀態,為該機場觀點的狀態",
              "xml": {
                "name": "ArrivalRemark"
              }
            },
            "ArrivalRemarkEn": {
[...]
